<p>&nbsp;</p>
<table class="body-wrap" style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6">
  <tbody>
    <tr style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
      <td style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top">&nbsp;</td>
      <td class="container" style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;" valign="top" width="600">
        <div class="content" style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
          <table class="main" style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;" width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff">
            <tbody>
              <tr style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                <td class="content-wrap" style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;" valign="top">
                  <table style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;" width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; background-color: #23A950;">
                        <td class="content-block" style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; text-align: center; padding: 0 0 20px;" valign="top"><img style="width: 120px; margin-top: 15px; margin-bottom: 0px;" src="https://marketplace-store.asacreative.com/assets/images/logo_ikan.png" /></td>
                      </tr>
                      <tr style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px;">
                        <td class="content-block" style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin-top: 50px; padding: 20px 0 20px;" valign="top">
                          ${text}
                        </td>
                      </tr>
                      <tr style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; margin: 0;">
                          <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler" style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px; text-align: center;" valign="top">
                              <a href="${target}" target="_blank" class="btn-primary" itemprop="url" style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #23A950; margin: 0; border-color: #23A950; border-style: solid; border-width: 10px 20px;">${link_label}
                              </a>
                          </td>
                      </tr>
                      <!-- <tr style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-block" style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                          &mdash; PT. Cerdas Indonesia Berjangka
                        </td>
                      </tr> -->
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="footer" style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
            <p class="aligncenter content-block" style="font-family: 'Lucida Grande',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;" align="center">
              &copy; 2018 &nbsp; | &nbsp;&nbsp;&nbsp;Rumah DPS&nbsp;&nbsp;
              <!-- &nbsp;|&nbsp;&nbsp;&nbsp; -->
              <!-- <a style="color: #818181; text-decoration: none;" href="#" target="_blank" rel="noopener">
                Muslim GO Online
              </a> -->
            </p>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>